.container-friends {
    background-color: white;
    color: #464749;
    width: 100%;
    margin: auto;
    padding-top: 20px;
  }
  
  .container-friends header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .container-friends header h1 {
    font-size: 20px;
  }
  
  .container-friends header input[type="text"] {
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 150px;
    background-color: #c6c9cc !important;
  }
  
  .container-friends header nav span {
    color: #2D88FF;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .container-friends .tabs {
    display: flex;
    margin: 20px 0;
    border-bottom: 1px solid #444;
  }
  
  .container-friends .tabs span {
    color: #2D88FF;
    margin-right: 20px;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .container-friends .tabs span.active {
    border-bottom: 2px solid #2D88FF;
  }
  
  .container-friends .friends-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .container-friends .friend-card {
    background-color: #464747;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .container-friends .friend-card img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 15px;
  }
  
  .container-friends .friend-info {
    flex-grow: 1;
  }
  
  .container-friends .friend-info h2 {
    margin: 0;
    font-size: 14px;
    color: #E4E6EB;
  }
  
  .container-friends .friend-info p {
    margin: 5px 0;
    color: #B0B3B8;
  }
  
  .container-friends .friend-actions {
    display: flex;
    align-items: center;
  }
  
  .container-friends .action-btn {
    background-color: #808181;
    color: #E4E6EB;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .container-friends .action-btn:hover {
    background-color: #4A4B4D;
  }
  
  .container-friends .action-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #464747;
    border: 1px solid #B0B3B8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .container-friends .action-menu button {
    background-color: transparent;
    color: #E4E6EB;
    border: none;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .container-friends .action-menu button:hover {
    background-color: #4A4B4D;
  }
  